* {
    background-color: black;
    color: red;
  }
  
  .square {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: lime;
  }
  
  .grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 618px;
    height: 618px;
  }
  
  .mole {
    background-image: url(skeletor.jpeg);
    background-size: cover;
  }
  