body{
    background-image: url(background.jpg);
    background-size:cover;
    margin-left: 500px;
}

.calculator{
    text-align: center;
    margin: 0 auto;
    padding-top: 0 auto;
    width:450px;
    box-sizing: border-box;
    border: 4px solid black;
}

.calculator-screen{
    width:100%;
    height:100px;
    background-color:darkgrey;
    color: black;
    text-align: right;
    font-size: 40px;
    box-sizing: border-box;
}

button{
  
  background-color: black;
  color: #6cacc5;
  cursor: pointer;
  font: inherit; 
  transition:1s;
  font-size:32px;
  height:80px;
  width:33.3%;
  padding: 0 auto;
  margin: 0px -2px;    
}

.all-clear{
  width:66.6%;
  background-color:#5F72E3;
  color:black;
  font-weight:bold;

}

.operator, .equal-sign{
    background-color: yellow;
    color:black;
    font-weight: bold;
}

button:hover{
    background-color: lightskyblue;
}

.operator:hover, .equal-sign:hover{
    background-color: lightseagreen;
}